PORT=5000
MONGO_URI=mongodb+srv://utsavbose88:utsavbose88@cluster0.zftz6wm.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0

# Optional – to enable email on contact form
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=your_email@example.com
MAIL_PASS=your_app_password
MAIL_TO=your_email@example.com
